h1, h2, h3, h4, p {
    font-family: 'Changa';
}

#heading_title{
    font-family: Changa;
    font-size: 96px;
    font-weight: 600;
    line-height: 87px;
    letter-spacing: 0em;
    text-align: center;
    background: linear-gradient(89.97deg, #EB4D8D 16.81%, #F5BF43 83.06%);
}


#h2_title{

    font-family: 'Changa';
    font-weight: 600;
    line-height: 87px;
    text-align: center;
    background: linear-gradient(89.97deg, #EB4D8D 16.81%, #F5BF43 83.06%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.header {
    font-family: 'Changa', sans-serif;
    text-align: center;
    font-size: min(6rem, calc(3vw + 3rem));
    z-index: 2;
    background: linear-gradient(89.97deg, #EB4D8D 16.81%, #F5BF43 83.06%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
/*#all_star_title{
    font-family: 'Changa';
    font-weight: 600;
    font-size: 60px;
    line-height: 87px;
    text-align: center;
    background: linear-gradient(89.97deg, #8F88F8 16.81%, #6CB5F9 83.06%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}*/

.container-width {
    max-width: 1260px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    
    padding: 5vh 2rem;
    
}


#img-thumbnail
{
    border: transparent;
    height:200px; margin-left:-15px;
}


.container {
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
    display: flex;
    align-items: center;
    justify-content: center
}



.text {
  font-size: 15px;
  font-family: 'Work Sans', sans-serif;
  font-size: min(1.5rem, calc(2vw + 10px));
}

#all_star_img{
    width: 170px;
}

.border{
    border-radius: 61px;
/*    padding: 20px; 
    padding-bottom: 100px;*/
    background: #F5F5F5;
    background: linear-gradient(90deg, rgba(239, 107, 124, 0.04) 0%, rgba(243, 146, 99, 0.04) 99.02%);
}

img{
    display: inline-block;
}

figcaption {
    text-align: center;
    font-family: 'Changa';
    font-weight: 600;
}

#figcaption_dave {
    background: linear-gradient(89.97deg, #EF5E86 16.81%, #F39263 83.06%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#figcaption_jiakai {
    background: linear-gradient(89.97deg, #EFAC5C 16.81%, #F3C75F 83.06%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#figcaption_jewel {
    background: linear-gradient(89.97deg, #ECEE5C 16.81%, #F3CD5F 83.06%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#figcaption_yf {
    background: linear-gradient(89.97deg, #56D229 16.81%, #F0E936 83.06%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#figcaption_yx {
    background: linear-gradient(89.97deg, #8F88F8 16.81%, #6CB5F9 83.06%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.text1{
    text-align: center;
    padding-bottom: 30px;
}

.section-container {
    background: #F5F5F5;
    background: linear-gradient(90deg, rgba(239, 107, 124, 0.04) 0%, rgba(243, 146, 99, 0.04) 99.02%);
    margin: 2rem;
    border-radius: 5%;

}

.container-max-width {
    max-width: 1260px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    padding: 5vh 2rem;

}

.image_width{
    justify-items: center; 
}
