/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/*
    Created on : 10 Jan 2023, 5:15:21 pm
    Author     : stong
*/

h1 {
    font-family: 'Changa', sans-serif;
}



nav {
    /* background-color: white; */
    /* width: 95%; */
    position: sticky;
    max-width: 1260px;
    transition: top 0.5s;
    border-bottom-left-radius: 4rem;
    border-bottom-right-radius: 4rem;
    box-shadow: 0px 40px 60px rgba(0, 0, 0, 0.15);
}


#navbar.top {
    background-color: transparent !important;
    box-shadow: none;
    transition: top 0.5s;
}

#navbar.hidden {
    top: -200px;

}


body {
    position: relative;
    font-family: 'Work Sans', sans-serif;
    padding-top: 15%;
}


.icon-container {
    width: 50px;
    height: 50px;
    border-radius: 40%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.75rem;
    margin-left: 1rem;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);

}

.icon-container:hover {
    box-shadow: none;
    translate: 0 2px;
}

.icon {
    width: 100%;

    object-fit: contain;
}


.logo {
    height: 2rem;
}

.nav-link {
    color: white;
    font-weight: bold;
}

.nav-link:hover {
    color: white;
    text-decoration: underline;
}



.header {
    font-family: 'Changa', sans-serif;
    text-align: center;
    font-size: min(6rem, calc(3vw + 3rem));
    z-index: 2;

}

.subtitle {
    color: #939292;
    width: 80%;
    font-size: 1.5rem;
    text-align: center;



}

.orange {
    background: linear-gradient(90deg, #EEAB5C 0.31%, #F3C75F 97.83%);
}

.blue {
    background: linear-gradient(90deg, #65A8F9 0.31%, #9731F6 97.83%);
}

.red {
    background: linear-gradient(90deg, #F06B7C 0.31%, #F39362 97.83%);
}

.green {
    background: linear-gradient(90deg, #69D028 0.31%, #B1DF30 97.83%);
}
.orange-text {
    background: linear-gradient(90deg, #EEAB5C 0.31%, #F3C75F 97.83%);
}

.blue-text {
    background: linear-gradient(90deg, #65A8F9 0.31%, #9731F6 97.83%);
}

.red-text {
    background: linear-gradient(90deg, #F06B7C 0.31%, #F39362 97.83%);
}

.green-text {

    background: linear-gradient(90deg, #69D028 0.31%, #B1DF30 97.83%);
}

.blue-text, .orange-text, .red-text, .green-text {

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.button {
    position: relative;
    overflow: hidden;
    height: 3rem;
    padding: 0 2rem;
    border-radius: 1.5rem;
    background: linear-gradient(93.61deg, #64ADFA 6.48%, #9A2DF7 98.96%);
    background-size: 100%;
    color: white;
    border: 0;
    box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.1);
}

.button-red {
    position: relative;
    overflow: hidden;
    height: 3rem;
    padding: 0 2rem;
    border-radius: 1.5rem;
    background: linear-gradient(93.61deg, #F06B7C 6.48%, #F39362 98.96%);
    background-size: 100%;
    color: #fff;
    border: 0;
    box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.1);
}

.button-green {
    position: relative;
    overflow: hidden;
    height: 3rem;
    padding: 0 2rem;
    border-radius: 1.5rem;
    background: linear-gradient(93.61deg, #69D028 6.48%, #B1DF30 98.96%);
    background-size: 100%;
    color: #fff;
    border: 0;
    box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.1);
}

.button:hover::before, .button-red:hover::before, .button-green:hover::before, .button-coupon:hover::before {
    transform: scaleX(1);
}

.button-content {
    position: relative;
    z-index: 1;
    font-weight: bold;
    background: #ffffff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    padding: 2rem 10rem;
    font-size: 1rem;
}

/*.button-content-red {*/
/*    position: relative;*/
/*    z-index: 1;*/
/*    font-weight: bold;*/
/*    background: linear-gradient(90deg, #F06B7C 0.31%, #F39362 97.83%);*/
/*    -webkit-background-clip: text;*/
/*    -webkit-text-fill-color: transparent;*/
/*    background-clip: text;*/
/*    text-fill-color: transparent;*/
/*    padding: 2rem 4rem;*/
/*    font-size: 1.5rem;*/

/*}*/

/*.button-content-green {*/
/*    position: relative;*/
/*    z-index: 1;*/
/*    font-weight: bold;*/
/*    background: linear-gradient(90deg, #69D028 0.31%, #B1DF30 97.83%);*/
/*    -webkit-background-clip: text;*/
/*    -webkit-text-fill-color: transparent;*/
/*    background-clip: text;*/
/*    text-fill-color: transparent;*/
/*    padding: 2rem 4rem;*/
/*    font-size: 1.5rem;*/

/*}*/



.button-content:hover, .button-content-red:hover, .button-content-green:hover, .button-coupon:hover {
    background: linear-gradient(93.61deg, #64ADFA 6.48%, #9A2DF7 98.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    color:  white !important;
    transition: all 0.475s;
}


.button::before, .button-coupon::before {
    content: '';
    color:  white;
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: white;
    transition: all 0.475s;
    box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.1);
}

.button-red::before {
    content: '';
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(90deg, #F06B7C 0.31%, #F39362 97.83%);
    transition: all 0.475s;
    box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.1);
}

.button-green::before {
    content: '';
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(90deg, #69D028 0.31%, #B1DF30 97.83%);
    transition: all 0.475s;
    box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.1);
}

/*<!------------------------------------------ for cart.css ---------------------------------------------->*/
/* Set the width and height of the shopping cart container */
.shopping-cart-container {
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    align-items: flex-start;
    max-width: 1260px;

    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;

    padding: 1rem;
    margin: 0 auto;
}

.shopping-cart-container-left {
    width: 100%;
    height: auto;
    display: flex;

    flex: 40%;
    flex-wrap: wrap;
    flex-direction: row;

    position: relative;
    align-items: flex-start;
}

.shopping-cart-container-right {
    width: 100%;
    height: auto;
    display: flex;

    flex: 40%;
    flex-wrap: wrap;
    flex-direction: row;

    position: relative;
    align-items: flex-start;
}

/* Style the product container */
.cart-container {
    width: 100%;
    margin: 1rem;
    padding: 2rem;
    justify-content: left;
    align-items: flex-start;

    border: 1px solid #ddd;
    border-radius: 20px;
}

.checkbox-container {
    width: 100%;
    margin: 1rem;
    justify-content: left;
    align-items: flex-start;
}

/* Style the delivery container */
.delivery-container {
    width: 100%;
    margin: 1rem;
    padding: 2rem;
    justify-content: left;
    align-items: flex-start;

    border: 1px solid #ddd;
    border-radius: 20px;
}

.saveinfo-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.saveinfo-container-left {
    width: 100%;
    height: auto;
    display: flex;

    flex: 65%;
    flex-wrap: wrap;
    flex-direction: row;

    position: relative;
    align-items: flex-start;
}

.saveinfo-container-right {
    width: 100%;
    height: auto;
    display: flex;

    flex: 25%;
    flex-wrap: wrap;
    flex-direction: row;

    position: relative;
    align-items: flex-start;
}

/* Style the summary container */
.summary-container {
    width: 100%;
    margin: 1rem;
    padding: 2rem;
    justify-content: left;
    align-items: flex-start;

    border: 1px solid #ddd;
    border-radius: 20px;
}

.summary-header:after { /* this is the border */
    content:"";
    display:block;
    width: 100%;
    max-width:100%;
    border-bottom: 0.05em solid rgba(189, 195, 199, 0.5);
    margin: 0.5em auto 0;
}

.payment-header:after { /* this is the border */
    content:"";
    display:block;
    width: 100%;
    max-width:100%;
    border-bottom: 0.1em solid rgba(189, 195, 199, 0.5);
    margin: 1em auto 0;
}

.coupon {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

}



.align-button {
    border: 2px solid #ddd;
}



/* Style the headings */
h2 {
    margin-top: 0;
    font-size: 1.5rem;
    font-weight: bold;
}

/* Style the list of products in the product container */
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}

.product-name {
    font-size: 1.2rem;
    font-weight: bold;
}

.product-price {
    font-size: 1.2rem;
}

/* Style the delivery information form in the delivery container */
form {
    display: flex;
    flex-wrap: wrap;
}

label {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

input[type="text"], input[type="email"], select, textarea {
    width: 100%;
    padding: 0.75rem;
    border-radius: 35.5px;
    border: 1px solid #ddd;
    margin-bottom: 1rem;
    padding-right: 10px;
}

input[type="checkbox"] {
    margin-right: 0.5rem;
    flex-wrap: wrap;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 35.5px;

    margin-left: -150px;
    height: 40px;
    width: 150px;
    border: 0;
    -webkit-appearance: none;
}

input[type="submit"]:hover {
    background-color: #3e8e41;
}

.button-coupon {
    position: absolute;
    overflow: hidden;
    height: 2.5rem;
    top: 5px;
    right: 5px;
    border-radius: 1.5rem;
    background: linear-gradient(93.61deg, #64ADFA 6.48%, #9A2DF7 98.96%);
    background-size: 100%;
    color: #fff;
    border: 0;
    box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.1);

}

.container-two-forms {
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: 5px;
    margin-bottom: 2rem;
}



.container-form-half {
    position: relative;
    flex: 1;

    display: flex;
    flex-direction: column;

    align-items: flex-start;

}

.container-form {
    position: relative;
    width: 100%;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;

    align-items: flex-start;

}

.payment-mode {
    font-size: large;
}

.payment-check {
    margin-top: 1.5rem;
}

.big{
    position: relative;
    width: 1em;
    height: 1em;
}

.input.input-icons {
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}

.fontAwesome {
    font-family: 'Changa', FontAwesome, sans-serif;
}

.cost:after { /* this is the border */
    content:"";
    display:block;
    width: 100%;
    max-width:100%;
    border-bottom: 0.1em solid rgba(189, 195, 199, 0.5);
    margin: 1em auto 0;
}

.payment {
    position: relative;
    width: 100%;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
}

span {
    color:  #6929ff;
}


/*CART CSS HERE*/
.cart-item {
    display: flex;
    flex-direction: row;


    align-items: center;


}

.cart-item-left {
    background: #fbfbfb;
    padding: 0.5rem;
    width: 127px;
    aspect-ratio: 1;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0.2;
    width: 100%;
}

.cart-item-left img {
    width: 100%;

    object-fit: cover;

}

.cart-item-middle {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 1rem;
    width: 100%;
    flex: 0.6;
}

.cart-item-middle h2 {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0;
}

.cart-item-right {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 0 1rem;
    flex: 0.2;
}

.cart-item-right h2 {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0;
    font-family: "Changa", san-serif;
}

.cart-item-right p {
    font-size: 1.2rem;

    margin: 0;

}

@media (max-width: 800px) {
    .shopping-cart-container {
        flex-direction: column;
        font-size: 12px;
    }

    .button span {
        font-size: 12px;
    }

    .button-coupon span {
        font-size: 12px;
    }

    .container-two-forms {
        flex-direction: column;
        margin-bottom: 1rem;
    }

    .container-form {
        margin-bottom: 1rem;
    }


    .container-form label {
        font-size: 12px;
    }

    .container-form-half label {
        font-size: 12px;
    }

    .payment-check label {
        font-size: 12px;
    }

    .shopping-cart-container-right {
        font-size: 12px;
    }

    .cart-item-middle h2 {
        font-size: 12px;
    }

    .cart-item-right h2{
        font-size: 12px;
    }

    .cart-item-right p {
        font-size: 12px;
    }
}

.container-form-cost {
    position: relative;
    width: 100%;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
}

.container-form-price  {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}