.debug {
      outline: 1px solid red;
}

body {
    font-family: 'Changa';
    font-style: normal;
    font-weight: 600;
    line-height: 91%;
    text-align: center;
}

.progress-text {
    font-size: 1.2rem;
    padding: 2rem 0rem;
}

.training-subtitle {
    line-height: 100%;
    
}

.ability-row {
    margin: 0rem 7rem;
}

.ability-container, .expect-container, .trainer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 2%;
}

.ability-text-blue, .ability-text-red, .ability-text-orange, .ability-text-green {
    font-size: 1.5rem;
    line-height: 1.2;
    text-align: center;
    padding-top: 0.5rem;
}

.ability-text-blue {
    color: #48A6FF;
}

.ability-text-red {
    color: #FF363E;
}

.ability-text-orange {
    color: #FF9F29;
}

.ability-text-green {
    color: #1BCF2D;
}

.square-gradient-blue {
    background: linear-gradient(135.16deg, #9185F8 8.84%, #6AB7F9 95.86%);
}

.square-gradient-red {
    background: linear-gradient(133.76deg, #EE5B87 6.56%, #F3975F 96.88%);
}

.square-gradient-green {
    background: linear-gradient(134.11deg, #7AE05A 5.9%, #E3F986 97.45%);
}

.text-gradient-blue {
    background: linear-gradient(89.97deg, #8F88F8 16.81%, #6CB5F9 83.06%);
}

.expect-row {
    width: 80%;
    margin: 4rem 2rem; 
}

.square {
    position: relative;
    width: 100%;
    border-radius: 25%;
}

.square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
}

.wrapper-hexagon {
    position: absolute;
    top: -15%;
    width: 35%;
}

.expect-number {
    font-size: 5rem;
    font-weight: 600;
    text-align: center;
    color: black;
    position: absolute;
    top: -2%;
    
}

.expect-text {
    font-size: 2rem;
    font-weight: 600;
    line-height: 100%;
    color: white;
    text-align: center;
    margin: 1rem 0rem;
}

.trainer-row {
    margin: 2rem 0rem;
}

.flip-card {
    background-color: transparent;
    width: 13rem;
    height: 19rem;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card-front, .flip-card-back {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 1rem;
}

.flip-card-back {
    
    transform: rotateY(180deg);
}

@media screen and (max-width: 768px) {
    
    .progress-text {
        font-size: 1rem;
    }
    
    .ability-row, .expect-row {
        width: 100%;
        margin: 1rem 0rem;
    }
    
    .ability-text-blue, .ability-text-red, .ability-text-orange, .ability-text-green {
        font-size: 85%;
        width: 100%;
    }
   
    .expect-container {
        padding: 1.5rem 5rem;
    }
    
    .expect-number {
        font-size: 3rem;
    }
    
    .expect-text {
        font-size: 1.5rem;
    }
    
    /*Not in use*/
    .credential-text {
        font-size: 1.25rem;
    }
}


